/* General */

@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Courgette');
body {
    font-family: 'Bitter', serif;
}

.page-header {
    margin: 25px 0;
    font-size: 2em;
    color: #fafafa;
    background-color: #016201;
    border-radius: 25px;
    padding: 10px 20px;
    display: inline-block;
}

.city-header {
    margin: 25px 0;
    font-size: 20px;
    color: #fafafa;
    background-color: #016201;
    border-radius: 25px;
    padding: 10px 20px;
    display: inline-block;
}

.border-travel{
    border: 5px black solid;
}

/* Navbar */

.bg-light {
    background-color: #016201 !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: #fafafa;
}

.nav-item {
    padding-right: 30px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 700;
    color: #FF7703;
    border-bottom: 2px #FF7703 solid;
}

.navbar-light .navbar-toggler {
    color: #fafafa;
}

.icons {
    padding-right: 10px;
    font-size: 25px;
}

/* Index */

.jumbotron {
    background: linear-gradient( rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0.8)), url("../images/fans-photo.jpg");
    background-size: cover;
}

.card {
    width: 425px;
    margin-left: 14px;
}

.meeting-img {
    width: 400px;
}

.jumbotron .display-4, .card-title {
    color: #016201;
    font-weight: 700;
    padding-bottom: 15px;
    ;
}

.jumbotron .display-6 {
    color: #E70E02;
    font-weight: bold;
}

.lead {
    padding-bottom: 10px;
}

.jumbo-quote {
    font-family: "courgette", cursive;
    color: #FF7703;
    font-weight: 700;
    padding-bottom: 15px;
}

/* Travel */



.travel-heading{
    color: #016201;
    font-weight: bold;
    font-size: 1.5rem;
}

.badge-primary {
    font-size: 1rem;
    color: #fafafa;
    background-color: #016201;
}

/* Standings */

.table-title {
    padding: 30px 0;
    color: #016201;
    font-weight: 700;
}

.table-background {
    background-color: rgba(1, 98, 1);
    color: #fafafa;
}

.team-photo {
    margin-top: 106px;
}

/* Gallery */

.submit-form {
    margin-left: 14px;
}

/* Buttons */

.btn-join {
    height: 50px;
    width: 90px;
    background-color: #fafafa;
    border-radius: 50px;
    border-color: #fafafa;
    font-size: 20px;
    color: #016201;
    font-weight: 700;
    vertical-align: middle;
    padding: 0;
}

.btn-join:hover, .btn-join-jumbo:hover {
    background-color: #FF7703;
    border-color: #fafafa;
}

.btn-join-jumbo {
    padding-bottom: 10px;
    height: 50px;
    width: 90px;
    background-color: #016201;
    border-radius: 50px;
    border-color: #fafafa;
    font-size: 20px;
    color: #fafafa !important;
}

.green-button {
    background-color: #016201;
    border: none;
   
}

.green-button:hover {
    background-color: #fafafa;
    color: #016201;
    border: none;
    
}

.white-button {
    background-color: #fafafa;
    color: #016201;
}

.white-button:hover {
    background-color: #016201;
    color: #fafafa;
}

.close {
    color: #Fafafa;
}

/* flags */

.custom-flag {
    padding-left: 40px;
}

/* Modal */

.modal-headerBG {
    background-color: #016201;
    color: #fafafa;
}

.modal-title {
    margin-bottom: 0;
    line-height: 2.5;
}

.modal-COYBIG {
    color: #fafafa;
    font-size: 15px;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.modal-footer {
    background-color: #FF7703;
    display: inline;
}

/* Footer */

.footer-bg {
    background-color: #FF7703;
    padding: 10px;
    color: #Fafafa;
}

.social-icon {
    color: #fafafa;
    font-size: 1.5em;
    padding-right: 20px;
}

.social-icon:hover {
    color: #016201;
}

.footer-quote {
    font-family: "Courgette", cursive;
}

.footer-quote:hover {
    color: #016201;
}

.green-font {
    color: #016201;
}

/* Media Queries */

@media (max-width: 650px) {
    .table-title {
        text-align: center;
    }
}

@media (max-width:1005px) and (min-width:766px) {
    .navbar-light .navbar-nav .nav-link, .icons {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    .team-photo {
        margin-top: 0px;
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        height: 750px;
    }
}

@media (max-width: 535px) {
    .jumbotron .display-4 {
        font-size: 44px;
    }
}